body {
}

.nav {
  background-color: rgb(214, 83, 162);
  box-shadow: 0 6px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

img {
  height: 150px;
  width: 150px;
}

.content-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 100px 0;
}

.nav li {
  display: block;
  text-align: center;
  padding: 0px;
  text-decoration: none;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.context-container li {
  display: block;
  text-align: center;
  padding: 0px;
  width: 100px;
  text-decoration: none;
}

.context-container {
  display: flex;
  justify-content: flex-end;
}

.left-content-container .context-container li {
  color: black;
  font-family: "Dosis", sans-serif;
}

h4,
p {
  color: black;
  font-family: "Dosis", sans-serif;
  font-size: x-large;
}

button {
  color: black;
  font-family: "Dosis", sans-serif;
}

.left-content-container {
  width: 750px;
}

.right-content-container {
  width: 400px;
}

.left-content-container {
  display: flex;
  flex-direction: column;
}

hr {
  border: 1px solid rgb(159, 157, 157);
  width: 100%;
}

.bottom-content-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-content-wrap {
  display: flex;
  flex-direction: row;
}

.left-content-wrap .left-text {
  margin: 0 10px 0 0;
}

.right-content-wrap {
  display: flex;
  justify-content: flex-end;
}

.first-content-container,
.sec-content-container {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 30px 65px 30px 0px;
  justify-content: space-evenly;
  align-items: center;
}

.right-content-container .content-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-content-container .bottom-content-wrap button {
  background-color: black;
  color: white;
  opacity: 1;
  width: 135px;
  height: 30px;
  border-radius: 16px;
  border: 0ch;
}

.bottom-content-wrap {
  margin: 15px;
}

.right-content-container .content-wrap {
  margin: 53px 0px 125px 0px;
}

.right-content-container .content-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
}

.right-content-container .context-wrap {
  display: flex;
  flex-direction: row;
}

.content-container .context-wrap {
  margin: 0 0 0 0;
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.content-container .button-box {
  width: 400px;
  display: flex;
  justify-content: center;
  margin: 30px;
}

.right-content-container button {
  background-color: rgb(214, 83, 162);
  color: white;
  opacity: 1;
  width: 413px;
  height: 50px;
  border-radius: 16px;
  border: 0ch;
}

.bottom-content-wrap .left-content-wrap button {
  background: rgb(159, 157, 157);
  color: white;
  opacity: 1;
  width: 135px;
  height: 30px;
  border-radius: 16px;
  border: 0ch;
}
